<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>電卓</title>
<link rel="stylesheet"href="ファイル名"type="text/css">
</head>
<body>
	<form>
		<table>
			
			<tr>
				<td colspan="3"><input type="text" class="textbox" /></td>
				<td><input type="button" value="C" /></td>
			</tr>
			<tr>
				<td><input type="button" value="1" class="btn-number-shadow" /></td>
				<td><input type="button" value="2" class="btn-number-shadow" /></td>
				<td><input type="button" value="3" class="btn-number-shadow" /></td>
				<td><input type="button" value="+" class="btn-ope-shadow" /></td>
			</tr>
			<tr>
				<td><input type="button" value="4" class="btn-number-shadow" /></td>
				<td><input type="button" value="5" class="btn-number-shadow" /></td>
				<td><input type="button" value="6" class="btn-number-shadow" /></td>
				<td><input type="button" value="-" class="btn-ope-shadow" /></td>
			</tr>
			<tr>
				<td><input type="button" value="7" /></td>
				<td><input type="button" value="8" /></td>
				<td><input type="button" value="9" /></td>
				<td><input type="button" value="*" /></td>	
			</tr>
			<tr>
				<td><input type="button" value="0" /></td>
				<td><type="button" value=" " /></td>
				<td><input type="button" value="=" /></td>
				<td><input type="button" value="/" /></td>
				
			</tr>
		</table>
	</form>
</body>
</html>